body {
  padding: 2vh 2vw;
  margin: 0;
  background-color: #efe;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

ul, fieldset, legend {
  border: 1px solid;
  border-radius: 5px;
  background-color: #fff;
  overflow: hidden;
}

ul {
  padding: 0;
  font-family: monospace;
}

li, legend {
  list-style-type: none;
  padding: 0.2em 0.5em;
  background-color: #cfc;
}

li:nth-of-type(even) {
  background-color: inherit;
}

.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;

    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

#add-session-form, #edit-session-form {
  background-color: #efe;
  padding: 5vh 3vw;
  width: 60%;
  border-radius: 5px;
}

@media (max-width: 768px) {
  #add-session-form, #edit-session-form {
    width: 85%;
    font-size: 0.9em;
  }
}

.hidden {
  display: none;
  opacity: 0;
}

.error {
  color: red;
  font-size: 0.8em;
}

@media (max-width: 768px) {
  .error {
    margin-top: 3px;
    font-size: 0.7em;
    display: block;
  }
  .error.hidden {
    margin-top: 0;
    display: none;
  }
}

.tile {
  background: #ffffff;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
}

#tile-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}